@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: hsl(0, 29%, 97%);
  font-family: Helvetica, Arial, sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}